/*
 Modified visual studio style to better match the MATLAB stock color scheme.
 
Visual Studio-like style based on original C# coloring by Jason Diamond <jason@diamond.name>

*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #F7F7F8;
  color: black;
}

.hljs-comment,
.hljs-quote,
.hljs-variable {
  color: #228B22;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-name,
.hljs-tag {
  color: #00f;
}

.hljs-string,
.hljs-section,
.hljs-attribute,
.hljs-literal,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-addition {
  color: #A020F0;
}

.hljs-deletion,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-meta {
  color: #2b91af;
}

.hljs-doctag {
  color: #808080;
}

.hljs-attr {
  color: #f00;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link {
  color: #00b0e8;
}

.hljs-substr,
.hljs-class,
.hljs-function,
.hljs-title,
.hljs-built_in {
  color: black;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
